@{
    ViewData["Title"] = "Home Page";
}

<div class="team-container">
    <div class="container">
        <div class="text">
            <h1>Team</h1>
            <P>Sit sint consectetur velit quos quisquam cupiditate nemo qui</P>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="~/assets/img/team-1.jpg" alt="">
                <h5>Walter White</h5>
                <span>Chief Executive Officer</span>
                <p>
                    Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                    qui aut aut aut
                </p>
                <div class="icon">
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin"></i>

                    </a>
                </div>
            </div>
            <div class="card">
                <img src="~/assets/img/team-2.jpg" alt="">
                <h5>Walter White</h5>
                <span>Chief Executive Officer</span>
                <p>
                    Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                    qui aut aut aut
                </p>
                <div class="icon">
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin"></i>

                    </a>
                </div>
            </div>
            <div class="card">
                <img src="~/assets/img/team-3.jpg" alt="">
                <h5>Walter White</h5>
                <span>Chief Executive Officer</span>
                <p>
                    Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                    qui aut aut aut
                </p>
                <div class="icon">
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>

                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin"></i>

                    </a>
                </div>
            </div>
        </div>
    </div>

</div>